
@{
    Layout = null;
    Models.Admin stu = Session["user"] as Models.Admin;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <title>MainPage</title>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="font-size:25px">仓储管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @*<ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">控制台</a></li>
                    <li class="layui-nav-item"><a href="">商品管理</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                </ul>*@
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item" id="youshang">
                    <a href="javascript:;">当前登录</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">@stu.UserName</a></dd>
                        <dd><a href="">修改密码</a></dd>
                        <dd><a href="javascript:;" onclick="Exit()">退出系统</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll" id="cda">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                @*<li class="layui-nav-item">
                        <a class="" href="javascript:;" id="lie1">系统设置</a>
                        <dl class="layui-nav-child" id="lie11">
                            <dd><a href="/TXY/SysAdmin">员工管理</a></dd>
                            <dd><a href="/TXY/SysRole">角色管理</a></dd>
                            <dd><a href="/TXY/SysDepart">部门管理</a></dd>
                            <dd><a href="/LLJ/Index">菜单管理</a></dd>
                            <dd><a href="javascript:;">权限分配</a></dd>
                            <dd><a href="javascript:;">标识符管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="lie2">基本资料</a>
                        <dl class="layui-nav-child" id="lie22">
                            <dd><a href="/LL/Index">库位管理</a></dd>
                            <dd><a href="/LL/GYSguanli">供应商管理</a></dd>
                            <dd><a href="/LL/KHguanli">客户管理</a></dd>
                            <dd><a href="/LLQ/Jldw">计量单位</a></dd>
                            <dd><a href="/LLQ/Cplb">产品类别</a></dd>
                            <dd><a href="/LLQ/CpGl">产品管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="lie3">仓库作业</a>
                        <dl class="layui-nav-child" id="lie33">
                            <dd><a href="/XBY/RukuGuanli">入库管理</a></dd>
                            <dd><a href="/XBY/ChukuGuanli">出库管理</a></dd>
                            <dd><a href="/XBY/BaoSunGuanli">报损管理</a></dd>
                            <dd><a href="/XBY/YiKuGuanli">移库管理</a></dd>
                            <dd><a href="/XBY/PanDianGuanli">盘点管理</a></dd>
                            <dd><a href="/XBY/TuiHuoGuanli">退货管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="lie4">报表管理</a>
                        <dl class="layui-nav-child" id="lie44">
                            <dd><a href="javascript:;">库存清单</a></dd>
                            <dd><a href="javascript:;">货品统计</a></dd>
                            <dd><a href="javascript:;">出入库报表</a></dd>
                            <dd><a href="javascript:;">入库报表</a></dd>
                            <dd><a href="javascript:;">出库报表</a></dd>
                            <dd><a href="javascript:;">报损报表</a></dd>
                            <dd><a href="javascript:;">退货报表</a></dd>
                            <dd><a href="javascript:;">客户报表</a></dd>
                            <dd><a href="javascript:;">供应商报表</a></dd>
                            <dd><a href="javascript:;">台账记录</a></dd>
                            <dd><a href="javascript:;">自定义报表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退出系统</a></li>*@

            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;"> @RenderBody()</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <div id="test" style="text-align:right"></div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    $(function () {
        CaiDanList();
        panduan();

        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;


        });

        layui.use('util', function () {
            var util = layui.util
                , $ = layui.$;

            //倒计时
            var endTime = new Date(2021, 1, 1).getTime() //假设为结束日期
                , serverTime = new Date().getTime(); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的

            util.countdown(endTime, serverTime, function (date, serverTime, timer) {
                var str = date[0] + '天' + date[1] + '时' + date[2] + '分' + date[3] + '秒';
                $('#test').html('剩余使用天数：' + str);
            });

            //某个时间在当前时间的多久前
            var str = util.timeAgo(new Date(2017, 7, 15, 2, 58, 0));
            $('#test1').html('示例写于：' + str);

        });
    })


    //查询所有菜单主模块信息的ajax
    function CaiDanList() {
        $.ajax({
            type: "POST",
            url: "/XBY/CaiDanList",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#cda").append("<ul class='layui-nav layui-nav-tree' lay-filter='test' id='caidan'></ul>");
                $("#caidan li").remove();
                $.each(result, function (index, data) {
                    $("#caidan").append("<li class='layui-nav-item layui-nav-itemed' id='sds" + data.NodeId + "' onclick='CaiDanListXiang(" + data.NodeId + ")'><a href='javascript:;' id='sds2" + data.NodeId + "'> " + data.DisplayName + "</a></li >");
                    if (@stu.RoleNum == 2) {
                      //$("ul #sds101").remove();
                      //$("ul #sds102").remove();
                      $("ul #sds101").remove();
                      $("ul #sds102").remove();
                        }


                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    //查询所有菜单副模块信息的ajax
    function CaiDanListXiang(id) {
        $.ajax({
            type: "POST",
            url: "/XBY/CaiDanListXiang",
            data: "{id:'" + id + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#sds" + id + " dl").remove();
                $.each(result, function (index, data) {
                    $("#sds" + id + "").append("<dl class='layui-nav-child'><dd><a href='" + data.NodeURL + "'>" + data.DisplayName + "</a></dd></dl>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function Exit() {
        location.href = '/TXY/Login';
        @Session["user"]=null;
    }

    function panduan()
    {

         if (@stu.RoleNum == 2) {
          //$("ul #sds101").remove();
          //$("ul #sds102").remove();
             @*alert(@stu.RoleNum);*@
          //$("ul li").remove();
          //$("ul li").remove();
            }


    }
</script>

